<ion-view class="onboarding" id="onboarding-tour">
  <ion-nav-bar>
    <ion-nav-title></ion-nav-title>
    <ion-nav-buttons side="primary">
      <button class="button back-button button-clear" ng-click="goBack()">
        <i class="icon ion-ios-arrow-thin-left"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
      <button class="button back-button button-clear" ng-show="data.index == 0" ng-click="createDefaultWallet()">
        {{'Skip' | translate}}
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-slides class="slides" options="options" slider="data.slider">
    <ion-slide-page>
      <ion-content id="onboard-tour-secure" scroll="false">
        <div class="onboarding-topic" translate>Create an Account</div>
        <div class="onboarding-icon"><img src="img/onboarding-clock.png" /></div>
        <div class="cta-buttons">
          <div class="onboarding-description" translate>
            Getting started is simple,<br/>
            create an account and<br/>
            link your wallet
          </div>
          <button class="button button-standard button-primary" ng-click="slideNext()" translate>
            Got it!
          </button>
        </div>
      </ion-content>
    </ion-slide-page>
    <ion-slide-page>
      <ion-content id="onboard-tour-currency" scroll="false">
        <div class="onboarding-topic" translate>Shop for Deals</div>
        <div class="onboarding-icon"><img src="img/onboarding-happybucket.png" /></div>
        <div class="cta-buttons">
          <div class="onboarding-description" translate>
            Find a store or deal you love<br/>
            using our web portal or app<br/>
            and shop away!
          </div>
          <button class="button button-standard button-primary" ng-click="slideNext()" translate>
            What next?
          </button>
        </div>
      </ion-content>
    </ion-slide-page>
    <ion-slide-page>
      <ion-content id="onboard-tour-control" scroll="false">
        <div class="onboarding-topic" translate>Relax and Get Paid</div>
        <div class="onboarding-icon"><img src="img/onboarding-bitcoin.png" /></div>
        <div class="cta-buttons">
          <div class="onboarding-description" translate>
            The store confirms your purchase<br/>
            we reward you with Bitcoin<br/>
            you use this wallet to get paid!
          </div>
          <button class="button button-standard button-primary" ng-click="createDefaultWallet()" translate>
            Great, let's get started!
          </button>
        </div>
      </ion-content>
    </ion-slide-page>
  </ion-slides>
</ion-view>
