<ion-view class="onboarding" id="onboarding-tour">
  <ion-nav-bar>
    <ion-nav-title></ion-nav-title>
    <ion-nav-buttons side="primary">
      <button class="button back-button button-clear" ng-click="goBack()">
        <i class="icon ion-ios-arrow-thin-left"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-slides class="slides" options="options" slider="data.slider">
    <ion-slide-page>
      <ion-content id="onboard-tour-secure" scroll="false">
        <div class="onboarding-topic" translate>Create an Account</div>
        <div class="onboarding-icon"><img src="img/onboarding-clock.png" /></div>
        <div class="onboarding-description" translate>
          Getting started is simple,<br/>
          just create an account with<br/>
          us and link it to your wallet!
        </div>
        <div class="cta-buttons">
          <button class="button button-standard button-primary" ng-click="slideNext()" translate>
            Got it!
          </button>
        </div>
      </ion-content>
    </ion-slide-page>
    <ion-slide-page>
      <ion-content id="onboard-tour-currency" scroll="false">
        <div class="onboarding-topic" translate>Shop for Deals</div>
        <div class="onboarding-icon"><img src="img/onboarding-happybucket.png" /></div>
        <div class="onboarding-description" translate>
          Use our shopping portal and mobile<br/>
          App to check out all participating<br/>
          merchants and the best deals, all<br/>
          in once place
        </div>
        <div translate>
          OR
        </div>
        <div class="onboarding-description" translate>
          Download out Shopping Assistant<br/>
          browser plug-in to get notifications<br/>
          when you're on a participating<br/>
          store's site
        </div>
        <div class="cta-buttons">
          <button class="button button-standard button-primary" ng-click="slideNext()" translate>
            What happens next?
          </button>
        </div>
      </ion-content>
    </ion-slide-page>
    <ion-slide-page>
      <ion-content id="onboard-tour-control" scroll="false">
        <div class="onboarding-topic" translate>Relax and Get Paid</div>
        <div class="onboarding-icon"><img src="img/onboarding-bitcoin.png" /></div>
        <div class="onboarding-description" translate>
          <ul>
            <li>The store confirms your purchase</li>
            <li>We reward you Bit Credit as a<br/>thank you for using our service</li>
            <li>Once you hit the required number<br/>of Bit Credits, we transfer it right<br/>to your wallet as Bitcoin!</li>
          </ul>
        </div>
        <div class="cta-buttons">
          <button class="button button-standard button-primary" ng-click="createDefaultWallet()" translate>
            Great, let's get started!
          </button>
        </div>
      </ion-content>
    </ion-slide-page>
  </ion-slides>
</ion-view>
