<ion-view id="rb-login" hide-tabs>
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>
      <span translate>Bitovation Registration</span>
    </ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>

    <form name="rbRegisterForm">
      <div class="list">
        <label class="item item-input item-stacked-label no-border">
          <span class="input-label" translate>Email</span>
          <input type="email"
                 id="email"
                 placeholder="{{'name@example.com' | translate}}"
                 name="email"
                 ng-model="registerCredentials.email"
                 required>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label" translate>Password</span>
          <input type="password"
                 name="password"
                 ng-if="passwordVisible == false"
                 ng-model="registerCredentials.password">
          <input type="text"
                 name="password"
                 ng-if="passwordVisible == true"
                 ng-model="registerCredentials.password">
        </label>
      </div>

      <div class="padding">
        <button type="submit"
                class="button button-standard button-primary"
                ng-click="register(registerCredentials)"
                ng-disabled="!rbRegisterForm.$valid" translate>
          Register
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>
