#starting {
  background: #446B8C;
  background: -moz-linear-gradient(top, #446B8C 0%, #294256 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #446B8C), color-stop(100%, #294256));
  background: -webkit-linear-gradient(top, #446B8C 0%, #294256 100%);
  background: -o-linear-gradient(top, #446B8C 0%, #294256 100%);
  background: -ms-linear-gradient(top, #446B8C 0%, #294256 100%);
  background: linear-gradient(to bottom, #446B8C 0%, #294256 100%);
  color: #fff;
  height: 100%;
  .scroll-content {
    display: table !important;
    width: 100% !important;
    height: 100% !important;
  }
  .scroll {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}
